.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}
.skills {
  min-height: 100vh;
}
.skills ul {
  padding-inline-start: 17px;
}
.skills li {
  list-style-type: disc;
  padding: 10px;
}
.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 80vh;
  margin-bottom: 30px;
}
.gallery {
  display: flex;
  flex-direction: row;
}
.gallery img {
  width: 200px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 5px;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}
.contact-list {
  padding-inline-start: 0px;
}
.contact-list li svg {
  margin-right: 10px;
}
.contact-list li {
  padding: 10px 0;
}
